@model IEnumerable<SP_Measurement_To_DataGrid_Result>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Msg"] != null)
{
    <div id="msg" style="text-align:center; background-color:lightgreen" class="col-md-5  rounded offset-3 p-2 text-success">
        <div class="col-md-3">

        </div>
        <h3>
            @TempData["Msg"]
        </h3>
    </div>
}



@using (Html.BeginForm("Search", "measurements", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="page-container mb-5">
        <div class="d-flex flex-row-reverse mb-5 mt-2 mr-2">
            <h1 style='font-family:"BeInNormal"' class="text-light ">
                بيانات وحدات القياس
            </h1>
        </div>
        <div class="d-flex flex-row-reverse mr-2">
            <h1 class="text-light">
                بحث
            </h1>
            <div class="col-md-2">
                <input type="text" class="form-control" name="Key" />
            </div>
            <div>
                <input type="submit" value="<<" class="bg-primary text-dark form-control">

            </div>
            <div class="col-md-7">

            </div>
            <div class="col-md-2">
                @*@Html.ActionLink("اضافة وحدة قياس جديدة ", "Create", null, new { @class = "text-light btn-success btn form-control" })*@
                <a class="btn p-2 btn-success form-control text-light" href="@Url.Action("Create", "measurements")">
                    <span><i class="fas fa-user-plus fa-lg"></i></span>
                    
                    اضافة وحدة قياس جديدة
                </a>
            </div>
        </div>



        <table class="table table-hover border-bottom border-light border-5">
            <tr class=" text-light">
                <th>حذف</th>
                <th>تعديل</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>وزن الوحدة بالكيلو</th>
                <th>اسم وحدة القياس</th>
                <th>رقم الوحدة </th>


            </tr>
            @foreach (var item in Model)
            {
        <tr class=" text-light">
            <td>
                <a class="text-light col-md-8 btn-danger btn form-control" href="@Url.Action("Delete", "measurements",new { id = @item.رقم_الوحدة})">
                    <span>
                        <i class="fas fa-user-times"></i>
                    </span>
                    حذف
                </a>

            </td>
            <td>

                <a class="text-light col-md-8 btn-warning btn form-control" href="@Url.Action("Edit", "measurements",new { id = @item.رقم_الوحدة})">
                    <span>
                        <i class="fas fa-user-edit"></i>
                    </span>
                    تعديل
                </a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@item.measurement_Count_per_unit</td>
            <td>  @item.اسم_وحدة_القياس</td>
            <td>  @item.رقم_الوحدة</td>


        </tr>
            }
        </table>





    </div>
}

<script type="text/javascript">
    setTimeout(function () {
        $('#msg').remove();
    }, 5000);
</script>