@model project_3.Models.store

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.storeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storeAdminName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeAdminName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storeLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.store_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
