@model IEnumerable<project_3.SP_Shift_Admin_To_DataGrid_Result>

@{
    ViewBag.Title = "Index";
}


@if (TempData["Msg"] != null)
{
    <div id="msg" style="text-align:center; background-color:lightgreen" class="col-md-5  rounded offset-3 p-2 text-success">
        <div class="col-md-3">

        </div>
        <h3>
            @TempData["Msg"]
        </h3>
    </div>
}



@using (Html.BeginForm("Search", "shiftadmins", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="page-container mb-5">
        <div class="d-flex flex-row-reverse mb-5 mt-2 mr-2">
            <h1 style='font-family:"BeInNormal"' class="text-light ">
                بيانات مديري الورديات
            </h1>
        </div>
        <div class="d-flex flex-row-reverse mr-2">
            <h1 class="text-light">
                بحث
            </h1>
            <div class="col-md-2">
                <input type="text" class="form-control" name="Key" />
            </div>
            <div>
                <input type="submit" value="<<" class="bg-primary text-dark form-control">

            </div>
            <div class="col-md-7">

            </div>
            <div class="col-md-2">
                <a class="btn btn-success form-control text-light" href="@Url.Action("Create", "shiftadmins")">
                    <span><i class="fas fa-user-plus fa-lg"></i></span>
                    اضافة مدير ورديه جديد
                </a>
            </div>
        </div>



        <table class="table table-hover border-bottom border-light border-5">
            <tr class=" text-light">
                <th>حذف</th>
                <th>تعديل</th>
                <th>فاكس</th>
                <th>هاتف</th>
                <th>تلفون</th>
                <th>عنوان</th>
                <th>بريد_الكتروني</th>
                <th>المدينة</th>
                <th>المحافظة</th>
                <th>دولة</th>
                <th>الاسم</th>
                <th>معرف</th>
                <th>رقم المدير</th>

            </tr>
            @foreach (var item in Model)
            {
        <tr class=" text-light">
            <td>
                <a class="text-light btn-danger btn form-control" href="@Url.Action("Delete", "shiftadmins",new { id = @item.رقم_المدير, add_id = @item.معرف})">
                    <span>
                        <i class="fas fa-user-times"></i>
                    </span>
                    حذف
                </a>
            </td>
            <td>
                <a class="text-light btn-warning btn form-control" href="@Url.Action("Edit", "shiftadmins",new { id = @item.رقم_المدير, add_id = @item.معرف})">
                    <span>
                        <i class="fas fa-user-edit"></i>
                    </span>
                    تعديل
                </a>
            </td>
            <td>  @item.فاكس</td>
            <td>  @item.هاتف</td>
            <td>  @item.تلفون</td>
            <td>  @item.عنوان</td>
            <td>  @item.بريد_الكتروني</td>
            <td>  @item.المدينة</td>
            <td>  @item.المحافظة</td>
            <td>  @item.دولة</td>
            <td>  @item.الاسم</td>
            <td>  @item.معرف</td>
            <td>  @item.رقم_المدير</td>

        </tr>
            }
        </table>





    </div>
}

<script type="text/javascript">
    setTimeout(function () {
        $('#msg').remove();
    }, 5000);
</script>