@model IEnumerable<SP_Store_To_DataGrid_tmp_Result>

@{
    ViewBag.Title = "index";
    Layout = null;
   
}


    @*<div class="d-flex flex-row-reverse mb-2 justify-content-center">
        <div class="d-flex col-md-4">
            <input name="shift_shift_id" class="form-control " disabled value="@ViewBag.Shift" />


            <span class="col-md-4 text-light">
                الورديه
            </span>
        </div>

    </div>
    <div class="d-flex flex-row-reverse mb-2 justify-content-center">
        <div class="d-flex col-md-4">
            <input name="store_store_id" class="form-control " disabled value="@ViewBag.Store" />
            <span class="col-md-4 text-light">
                المتجر
            </span>
        </div>

    </div>
    <div class="d-flex flex-row-reverse mb-2 justify-content-center">
        <div class="d-flex col-md-4">
            <input name="product_product_id" class="form-control " disabled value="@ViewBag.Product" />
            <span class="col-md-4 text-light">
                اسم المنتج
            </span>
        </div>
    </div>

    <div class="d-flex flex-row-reverse mb-2 justify-content-center">
        <div class="d-flex col-md-4">
            <input name="weight_weight_id" class="form-control " disabled value="@ViewBag.Weight" />
            <span class="col-md-4 text-light">
                الوزن
            </span>
        </div>

    </div>
    <div class="d-flex flex-row-reverse mb-2 justify-content-center">
        <div class="d-flex col-md-4">
            <input name="store_has_productDate" class="form-control " disabled value="@ViewBag.Date" />
            <span class="col-md-4 text-light">
                التاريخ
            </span>
        </div>

    </div>*@






<div class="mb-5">
    <table class="table  border-bottom border-light border-5">
        <tr class=" text-light">
            <th>السريال</th>
            <th>التاريخ</th>
            <th>الوزن</th>
            <th>المنتج</th>
            <th>المخزن</th>
            <th>الوردية</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class=" text-light">
                <td>@item.barcode_serialNumber</td>
                <td>@item.store_has_productDate</td>
                <td>@item.weight_net</td>
                <td>@item.productName</td>
                <td>@item.storeName</td>
                <td>@item.shiftName</td>
            </tr>
        }
    </table>
</div>



