@model project_3.store_has_product

@{
    ViewBag.Title = "Index";
}


    <div class="page-container  ">
        @if (TempData["Msg"] != null)
        {


            <div id="msg" style="text-align:center; background-color:lightcoral" class="col-md-5  rounded offset-3 p-2 text-danger">
                <div class="col-md-3">

                </div>
                <h3>
                    @TempData["Msg"]
                </h3>
            </div>


        }

        <div class="d-flex flex-row-reverse mb-5 mt-2 mr-2 ">
            <h1 class="text-light">
                خطوط الانتاج
            </h1>
        </div>



        @using (Html.BeginForm("Index2", "StoreProduct", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            
            <div class="d-flex flex-row-reverse mb-2 justify-content-center">
                <div class="d-flex col-md-4">
                    @Html.DropDownListFor(m => m.shift_shift_id, ViewBag.ShiftId as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                    <span class="col-md-4 text-light">
                        الورديه
                    </span>

                </div>

            </div>
            <div class="d-flex flex-row-reverse mb-2 justify-content-center">
                <div class="d-flex col-md-4">
                    @Html.DropDownListFor(m => m.store_store_id, ViewBag.StoreId as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                    <span class="col-md-4 text-light">
                        المتجر
                    </span>
                    <input hidden id="StoreInput" name="store" />
                </div>

            </div>
            <div class="d-flex flex-row-reverse mb-2 justify-content-center">

                <div class="d-flex col-md-4">
                    @Html.DropDownListFor(m => m.product_product_id, ViewBag.ProductId as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                    <span class="col-md-4 text-light">
                        اسم المنتج
                    </span>
                    <input hidden id="ProductInput" name="product" />

                </div>
            </div>

            <div class="d-flex flex-row-reverse mb-2 justify-content-center">
                <div class="d-flex col-md-4">
                    @Html.DropDownListFor(m => m.weight_weight_id, ViewBag.WeightId as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                    <span class="col-md-4 text-light">
                        الوزن
                    </span>
                    <input hidden name="weight" id="WInput" />
                </div>

            </div>
            <div class="d-flex flex-row-reverse mb-2 justify-content-center">
                <div class="d-flex col-md-4">
                    <input id="datepicker" type="date" name="store_has_productDate" class="form-control datepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span class="col-md-4 text-light">
                        التاريخ
                    </span>
                </div>

            </div>


            <div class="d-flex flex-row-reverse mb-2 justify-content-center">
                <div class="d-flex col-md-4">
                    <button type="submit" class="text-light btn-success btn form-control">

                        بدء عملية الانتاج
                    </button>
                    <span class="col-md-4 text-light">
                    </span>
                </div>


            </div>
        }

    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    setTimeout(function () {
        $('#msg').remove();
    }, 5000);

     $(document).ready(function () {
         $('#Load').click(function () {
                $("#Result").load("@Url.Action("Index2", "StoreProduct")",
                    function (response, status, xhr) {
                        if (status == "error") {
                            //alert("An error occurred while loading the results.");
                            $("#Products").text = "An error occurred while loading the results.";
                        }
                    });
             
            });
     });

    function func() {
        var e = document.getElementById("shift_shift_id");
        var strUser = e.options[e.selectedIndex].text;
        document.getElementById("ShiftInput").value = strUser;

        var e2 = document.getElementById("store_store_id");
        var strUser2 = e2.options[e2.selectedIndex].text;
        document.getElementById("StoreInput").value = strUser2;

        var e3 = document.getElementById("product_product_id");
        var strUser3 = e3.options[e3.selectedIndex].text;
        document.getElementById("ProductInput").value = strUser3;

        var e4 = document.getElementById("weight_weight_id");
        var strUser4 = e4.options[e4.selectedIndex].text;
        document.getElementById("WInput").value = strUser4;
    }
    $(document).ready($(function () { setInterval(func, 1) }));
</script>
