@model  project_3.SP_Order_Trans_Vin_ID_Result

@{
    ViewBag.Title = "Delete";
}

<div class="page-container">
    <div class="d-flex flex-row-reverse mb-5 mt-2 mr-2">
        <h1 class="text-light">
            حذف عربيه من الطلبيه
        </h1>
    </div>
    <div class="d-flex flex-row-reverse mb-5 mt-2 mr-2">
        <h3 class="text-light">
            هل انت متأكد انك تريد الحذف نهائيا
        </h3>
    </div>

    <div class=" mb-5 mt-2 mr-2 text-light">

        <hr />

        <div class="d-flex flex-row-reverse">

            <div class="col-md-2 d-flex flex-row-reverse">
                <b>رقم الطلبيه</b>
            </div>

            <div class="col-md-2 d-flex flex-row-reverse">
                @Html.DisplayFor(model => model.رقم_الطلبية)
            </div>
        </div>
        <div class="d-flex flex-row-reverse">

            <div class="col-md-2 d-flex flex-row-reverse">
                <b>اسم الوكيل</b>
            </div>

            <div class="col-md-2 d-flex flex-row-reverse">
                @Html.DisplayFor(model => model.اسم_الوكيل)
            </div>
        </div>
        <div class="d-flex flex-row-reverse">

            <div class="col-md-2 d-flex flex-row-reverse">
                <b>اسم السائق</b>
            </div>

            <div class="col-md-2 d-flex flex-row-reverse">
                @Html.DisplayFor(model => model.اسم_السائق)
            </div>
        </div>
       
        

        <br />


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="رقم_الطلبية" value="@Model.رقم_الطلبية" />
            <input type="hidden" name="v_id" value="@Model.v_id" />
            
            <div class="form-actions no-color d-flex flex-row-reverse">
                <button type="submit" class="col-md-2 btn btn-danger">
                    <i class="fas fa-user-times"></i>
                    &nbsp;&nbsp;&nbsp;
                    حذف
                </button>
                &nbsp; | &nbsp;
                <a href="@Url.Action("Index","OrderTrans")" class="col-md-2 text-light btn-primary btn form-control">
                    <i class="fas fa-undo"></i>
                    &nbsp;&nbsp;&nbsp;
                    رجوع للقائمه
                </a>
            </div>
        }
    </div>

</div>