@model project_3.SP_Shift_Worker_To_DataGrid_Result

@{
    ViewBag.Title = "Create";
}


<div class="page-container">
    @if (TempData["Msg"] != null)
    {


        <div id="msg" style="text-align:center; background-color:lightcoral" class="col-md-5  rounded offset-3 p-2 text-danger">
            <div class="col-md-3">

            </div>
            <h3>
                @TempData["Msg"]
            </h3>
        </div>


    }

    <div class="d-flex flex-row-reverse mb-5 mt-2 mr-2">
        <h1 class="text-light">
            اضافة عامل وردية جديد
        </h1>
    </div>
   


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="d-flex flex-row-reverse mb-2">
            <div class="d-flex col-md-4">
                @Html.DropDownListFor(m => m.رقم_الوردية, ViewBag.shift_id as IEnumerable<SelectListItem>, htmlAttributes: new { disabled = "disabled", @class = "form-control", Name = "shift_id" })
                @*<input required type="text" value="@ViewBag.shiftID" disabled class="form-control" name="رقم_الوردية" id="" />*@
                <span class="col-md-4 text-light">
                    اسم الوردية
                </span>
            </div>

            <div class="col-md-4"></div>
        </div>


        <div class="d-flex flex-row-reverse mb-2">
            <div class="d-flex col-md-4">
                @Html.DropDownListFor(m => m.رقم_العامل, ViewBag.worker_id as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })

                <span class="col-md-4 text-light">
                     العامل
                </span>
            </div>

            <div class="col-md-4"></div>
        </div>
        <div class="d-flex flex-row-reverse col-md-11">
            <div class="col-md-2">

            </div>

            <div class=" col-md-2">
                <input type="submit" value="اضافه" class="text-light btn-success btn form-control">


            </div>



            
            <div class="col-md-2 ">
                @Html.ActionLink("رجوع للقائمه", "Index", null, new { @class = "text-light btn-primary btn form-control" })
            </div>


        </div>

    }


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    setTimeout(function () {
        $('#msg').remove();
    }, 5000);
</script>
