@model  project_3.SP_Shift_Worker_ID_Result

@{
    ViewBag.Title = "Delete";
}

<div class="page-container">
    <div class="d-flex flex-row-reverse mb-5 mt-2 mr-2">
        <h1 class="text-light">
            حذف عامل وردية
        </h1>
    </div>
    <div class="d-flex flex-row-reverse mb-5 mt-2 mr-2">
        <h3 class="text-light">
            هل انت متأكد انك تريد الحذف نهائيا
        </h3>
    </div>

    <div class=" mb-5 mt-2 mr-2 text-light">

        <hr />

        <div class="d-flex flex-row-reverse">

            <div class="col-md-2 d-flex flex-row-reverse">
                <b>اسم العامل</b>
            </div>

            <div class="col-md-2 d-flex flex-row-reverse">


                @Html.DisplayFor(model => model.firstName)
            </div>
        </div>

        <br />


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.shift_shift_id)
            @Html.HiddenFor(model => model.workers_worker_id)
            <div class="form-actions no-color d-flex flex-row-reverse">
                <input type="submit" value="حذف" class="col-md-2 btn btn-danger" /> &nbsp; | &nbsp;
                @Html.ActionLink("رجوع للقائمه", "Index", null, new { @class = "col-md-2 btn btn-primary" })
            </div>
        }
    </div>

</div>