@model IEnumerable<project_3.SP_Shift_Worker_To_DataGrid_Result>

@if (Model != null)
{


<table class="table table-hover border-bottom border-light border-5">
    <tr class=" text-light">
        <th>حذف</th>
        <th>تعديل</th>
        <th> </th>
        <th> </th>
        <th></th>
        <th></th>
        <th> </th>
        <th>  اسم العامل</th>
        <th>رقم العامل</th>
        <th>رقم الوردية</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr class=" text-light">
            <td>
                @Html.ActionLink("حذف", "Delete", new { id = @item.رقم_الوردية }, new { @class = "text-light btn-danger btn form-control" })
            </td>
            <td>
                @Html.ActionLink("تعديل", "Edit", new { id = @item.رقم_الوردية }, new { @class = "text-light btn-warning btn form-control" })
            </td>
            <td>  </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  @item.اسم_العامل</td>
            <td>  @item.رقم_العامل</td>
            <td>  @item.رقم_الوردية</td>


        </tr>
    }
</table>
}