@model project_3.Models.TransVehicleViewModel

@{
    ViewBag.Title = "Create";
}

<div class="page-container">
    @if (TempData["Msg"] != null)
    {


        <div id="msg" style="text-align:center; background-color:lightcoral" class="col-md-5  rounded offset-3 p-2 text-danger">
            <div class="col-md-3">

            </div>
            <h3>
                @TempData["Msg"]
            </h3>
        </div>


    }

    <div class="d-flex flex-row-reverse mb-5 mt-2 mr-2">
        <h1 class="text-light">
            اضافة عربيه جديدة
        </h1>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="d-flex flex-row-reverse mb-2">
            <div class="d-flex col-md-4">
                <input required type="text" class="form-control" name="اسم_السائق" id="" />

                <span class="col-md-4 text-light">
                    اسم_السائق
                </span>
            </div>
            <div class="d-flex col-md-4">
                <input required type="text" class="form-control" name="رقم_العربية" id="" />
                <span class="col-md-4 text-light">
                    رقم العربية
                </span>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="d-flex flex-row-reverse mb-2">
            <div class="d-flex col-md-4">
                <input type="text" class="form-control" name="الموديل" id="" />

                <span class="col-md-4 text-light">
                    الموديل
                </span>
            </div>
            <div class="d-flex col-md-4">
                <input type="text" required class="form-control" name="سريال_العربية" id="" />
                <span class="col-md-4 text-light">
                    سريال العربية
                </span>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="d-flex flex-row-reverse mb-2">
            <div class="d-flex col-md-4">
                <input type="text" class="form-control" name="هاتف" id="" />

                <span class="col-md-4 text-light">
                    هاتف
                </span>
            </div>
            <div class="d-flex col-md-4">
                <input type="text" class="form-control" name="العنوان" id="" />
                <span class="col-md-4 text-light">
                    العنوان
                </span>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="d-flex flex-row-reverse mb-2">
            <div class="d-flex col-md-4">
                @Html.DropDownListFor(m => m.رقم_الوكيل, ViewBag.customers_Customers_id as IEnumerable<SelectListItem> , htmlAttributes: new { @class = "form-control" })

                <span class="col-md-4 text-light">
                    الوكيل
                </span>
            </div>
            
            <div class="col-md-4"></div>
        </div>
        <div class="d-flex flex-row-reverse col-md-11">
            <div class="col-md-2">

            </div>

            <div class=" col-md-2">
                <input type="submit" value="اضافه" class="text-light btn-success btn form-control">


            </div>



            <div class="col-md-2 ">
                <input type="reset" value="الغاء" class="text-light btn-danger btn form-control">

            </div>
            <div class="col-md-2 ">
                @Html.ActionLink("رجوع للقائمه", "Index", null, new { @class = "text-light btn-primary btn form-control" })
            </div>


        </div>

    }


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    setTimeout(function () {
        $('#msg').remove();
    }, 5000);
</script>







