@model IEnumerable<project_3.Models.TransVehicleViewModel>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Msg"] != null)
{
    <div id="msg" style="text-align:center; background-color:lightgreen" class="col-md-5  rounded offset-3 p-2 text-success">
        <div class="col-md-3">

        </div>
        <h3>
            @TempData["Msg"]
        </h3>
    </div>
}



@using (Html.BeginForm("Search", "transvehciles", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="page-container mb-5">
        <div class="d-flex flex-row-reverse mb-5 mt-2 mr-2">
            <h1 class="text-light">
                بيانات عربيات النقل
            </h1>
        </div>
        <div class="d-flex flex-row-reverse mr-2">
            <h1 class="text-light">
                بحث
            </h1>
            <div class="col-md-2">
                <input type="text" class="form-control" name="Key" />
            </div>
            <div>
                <input type="submit" value="<<" class="bg-primary text-dark form-control">

            </div>
            <div class="col-md-7">

            </div>
            <div class="col-md-2">
                @*@Html.ActionLink("اضافة عربيه جديدة ", "Create", null, new { @class = "text-light btn-success btn form-control" })*@
                <a class="btn btn-success form-control text-light" href="@Url.Action("Create", "transvehciles")">
                    <span><i class="fas fa-user-plus fa-lg"></i></span>
                    &nbsp;&nbsp;&nbsp;
                    اضافة عربيه جديدة
                </a>
            </div>
        </div>



        <table class="table table-hover border-bottom border-light border-5">
            <tr class=" text-light">
                <th>حذف</th>
                <th>تعديل</th>
                <th>اسم الوكيل</th>
                <th>رقم الوكيل</th>
                <th>العنوان</th>
                <th>الهاتف</th>
                <th>سريال العربيه</th>
                <th>الموديل</th>
                <th>رقم العربيه</th>
                <th>اسم السائق</th>
                <th>الرقم</th>
               
            </tr>
            @foreach (var item in Model)
            {
        <tr class=" text-light">
            <td>
                <a class="col-md-9 text-light btn-danger btn form-control" href="@Url.Action("Delete", "transvehciles",new { id = @item.الرقم})">
                    <span>
                        <i class="fas fa-user-times"></i>
                    </span>
                    حذف
                </a>

                @*@Html.ActionLink("حذف", "Delete", new { id = @item.رقم_الوكيل, add_id = @item.معرف }, new { @class = "text-light btn-danger btn form-control" })*@
            </td>
            <td>

                <a class="col-md-9 text-light btn-warning btn form-control" href="@Url.Action("Edit", "transvehciles",new { id = @item.الرقم})">
                    <span>
                        <i class="fas fa-user-edit"></i>
                    </span>
                    تعديل
                </a>
                @*@Html.ActionLink("تعديل", "Edit", new { id = @item.رقم_الوكيل, add_id = @item.معرف }, new { @class = "text-light btn-warning btn form-control" })*@
            </td>
            <td>  @item.اسم_الوكيل</td>
            <td>  @item.رقم_الوكيل</td>
            <td>  @item.العنوان</td>
            <td>  @item.هاتف</td>
            <td>  @item.سريال_العربية</td>
            <td>  @item.الموديل</td>
            <td>  @item.رقم_العربية</td>
            <td>  @item.اسم_السائق</td>
            <td>  @item.الرقم</td>


        </tr>
            }
        </table>





    </div>
}

<script type="text/javascript">
    setTimeout(function () {
        $('#msg').remove();
    }, 5000);
</script>